body {
	text-align: center;
}

ul {
	list-style-type: none;
}

.navbar {
	border-width: 0;
}

.btn {
	background-color: #0081b1;
}

.top-nav {
	background-color: white;
	font-variant: small-caps;
	margin-top: 15px;
	margin-bottom: 0;
	text-align: bottom;
}
.top-nav a {
	color: black;
}


.btn-submit {
	border-radius: 15px;
}

.btn-sm {
	border-radius: 20px;
}

.blue-back {
	background-color: #0081b1;
	color: white;
}

.location-text li, h4, h5 {
	font-weight: lighter;
}

.row-location {
	display: flex;
}

.location {
	flex: 1;
	max-height: 288px;
	
}


.map {
	position: relative;
	padding: 0;
}
.screen-shot {
	position: relative;
	top: 0;
	left: 0;
	max-height: 288px;
	min-width: 100%;
}
.zoom {
	width: 1.5em;
	height: 3em;
	position: absolute;
	top: 36px;
	left: 30px;
	
}


.bottom-nav {
	background-color: black;
}

.bottom-nav a {
	color: white;
}

.bot-nav-1 {
	font-variant: small-caps;
	display: block;
	text-align: center;
}

.bot-nav-1 li {
	display: inline-block;
}

.banner-pic {
	width: 100%;
}