.top-nav {
	background-color: white;
	font-variant: small-caps;
}
.top-nav a {
	color: black;
}

.blue-back {
	background-color: lightblue;
}

.bottom-nav {
	background-color: black;
}

.bottom-nav a {
	color: white;
}

.bot-nav-1 {
	font-variant: small-caps;
	display: block;
	text-align: center;
}

.bot-nav-1 li {
	display: inline-block;
}

.banner-pic {
	width: 100%;
}

body {
	padding-bottom: 100px;
}
